<% const title = "Button"; %>

<title><%= title %></title>

<section class="example-page">

  <%- include("_header.ejs", {
    classes: ["example-page_#header"],
    title,
    stability: 2,
    summary: "Buttons allow the user to take action in the application."
  }) _%>

  <div class="example-page_#content">

    <div class="inline-flex">

      <button class="eds-button eds-button.primary my-4 mr-0 ml-4">Primary</button>

      <button class="eds-button eds-button.basic my-4 ml-4 mr-0">Basic</button>

      <button class="eds-button eds-button.primary my-4 ml-4 mr-0" disabled>Primary</button>

      <button class="eds-button eds-button.basic my-4 ml-4 mr-0" disabled>Basic</button>

      <button class="eds-button eds-button.tertiary eds-button.compact my-4 ml-4 mr-0" aria-label="New Note">
        <svg class="eds-button_#icon" viewBox="0 0 24 24">
          <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3v2zm-3-7V3.5L18.5 9H13z"/>
        </svg>
      </button>

       <button class="eds-button eds-button.tertiary my-4 ml-4 mr-0">
        <svg class="eds-button_#icon" viewBox="0 0 24 24">
          <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3v2zm-3-7V3.5L18.5 9H13z"/>
        </svg>
        <span class="eds-button_#label">New Note</span>
      </button>

      <button class="eds-button eds-button.tertiary eds-button.compact my-4 ml-4 mr-0" aria-label="New Note" disabled>
        <svg class="eds-button_#icon" viewBox="0 0 24 24">
          <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3v2zm-3-7V3.5L18.5 9H13z"/>
        </svg>
      </button>

       <button class="eds-button eds-button.tertiary my-4 ml-4 mr-4" disabled>
        <svg class="eds-button_#icon" viewBox="0 0 24 24">
          <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3v2zm-3-7V3.5L18.5 9H13z"/>
        </svg>
        <span class="eds-button_#label">New Note</span>
      </button>

    </div>

    <br />

    <div class="inline-flex bg-purple-700">

      <button class="eds-button eds-button.primary-inverse my-4 ml-4 mr-0">Primary</button>

      <button class="eds-button eds-button.basic-inverse my-4 ml-4 mr-0">Basic</button>

      <button class="eds-button eds-button.primary-inverse my-4 ml-4 mr-0" disabled>Primary</button>

      <button class="eds-button eds-button.basic-inverse my-4 ml-4 mr-0" disabled>Basic</button>

      <button class="eds-button eds-button.tertiary-inverse eds-button.compact my-4 ml-4 mr-0" aria-label="New Note">
        <svg class="eds-button_#icon" viewBox="0 0 24 24">
          <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3v2zm-3-7V3.5L18.5 9H13z"/>
        </svg>
      </button>

      <button class="eds-button eds-button.tertiary-inverse my-4 ml-4 mr-0">
        <svg class="eds-button_#icon" viewBox="0 0 24 24">
          <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3v2zm-3-7V3.5L18.5 9H13z"/>
        </svg>
        <span class="eds-button_#label">New Note</span>
      </button>

      <button class="eds-button eds-button.tertiary-inverse eds-button.compact my-4 ml-4 mr-0" aria-label="New Note" disabled>
        <svg class="eds-button_#icon" viewBox="0 0 24 24">
          <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3v2zm-3-7V3.5L18.5 9H13z"/>
        </svg>
      </button>

      <button class="eds-button eds-button.tertiary-inverse my-4 ml-4 mr-4" disabled>
        <svg class="eds-button_#icon" viewBox="0 0 24 24">
          <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3v2zm-3-7V3.5L18.5 9H13z"/>
        </svg>
        <span class="eds-button_#label">New Note</span>
      </button>

    </div>

  </div>

</section>
